.nav {

	padding: 1.5rem;
	display: flex;

}

.nav li {
	margin-right: 20px;
}

.nav ul {

	margin: 0 auto;
	text-align: center;
	display: flex;

	list-style-type: none;


}

.nav ul li a {
font-family: monospace;
	font-size: 1.2rem;
	/* padding: 0 1.5rem; */

	color: #f09;
	
	text-decoration: none;

	text-shadow:  
	0 1px 42px rgba(7, 119, 211, 0.252),
	0 0 82px rgba(7, 119, 211, 0.252),
	0 0 92px rgba(7, 119, 211, 0.252),
	0 0 102px rgba(7, 119, 211, 0.252),
	0 0 151px rgba(7, 119, 211, 0.252);
	
	
}

.nav:hover{
	display: flex;
	background-color: transparent;
	transition: 2s;
	/* transform: scale(0.9) translate(-1%, -2%); */
	color: black;
	
	text-shadow: none;
}

.nav a:hover {
	transition: 0.7s;
	color: rgb(0, 195, 255);
	text-shadow: none;
}

/*------------------------------------ LOGO----------------------------------  */
.logo {
	margin: 2rem;
position: fixed;
	display: flex;
	width: 46px;
	height: 46px;
	border-radius: 50%;
	overflow: hidden;
	margin-top: -6px;
}