.nav {
	border-radius: 10px;
	padding: 1.2rem;
	display: flex;
	border-bottom: 3px solid rgb(1, 234, 255);
}

.nav li {
	margin-right: 20px;
}

.nav ul {

	margin: 0 auto;
	text-align: center;
	display: flex;

	list-style-type: none;


}

.nav ul li a {
	border-radius: 10px;
	font-weight: 3px;
font-family: monospace;
	font-size: 1.4rem;
	/* padding: 0 1.5rem; */

	color:rgb(255, 255, 255);
    text-shadow: 1px white;
	text-decoration: none;
	
	
}


.nav a:hover{
   	transition: 0.3s;
	color: rgba(255, 121, 18, 0.988);
}


/*------------------------------------ LOGO----------------------------------  */
.logo {
	
	margin: 2rem;
	position: fixed;
	display: flex;
	width: 46px;
	height: 46px;
	border-radius: 50%;
	overflow: hidden;
	margin-top: -6px;
}
/* -------------------------------------------------------------------------- */
