*{
    margin: 0;
    padding: 0;
}

body{
    /* background-image: url(img/pattern-black-gradient-texture-wallpaper-preview.jpg); */
  background-image: url(img/notebook-natural-laptop-macbook.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
:root{
  --orange:rgba(255, 121, 18, 0.988);
  --blue: aqua;
  
}
