h1{
    text-underline-position: auto;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    color: rgb(255, 255, 255);
    padding:  2rem;
    justify-content: center;
    font-size: 1.5rem;
}

h1:hover{
    
    transition: 0.4s;
   
} 
@keyframes text{
    0%{
        color: white;
       margin-bottom: -40px;
    }
    30%{
       letter-spacing: 25px;
       margin-bottom: -40px;
    }
    80%{
        margin-bottom: -40px;
        letter-spacing: 8px;

    }
}
